/.vs/
/Debug/
/Release/JiYuTrainer.ini
*.lib
*.pdb
*.idb
*.lnk
*.iobj
*.ipdb
*..lastbuildstate
*.ilk
*.exp
*.tlog
*.pdb
*.obj
*.idb
*.pch
*.log
*.dll
*.ini
*.bat
*.enc
*.recipe
/WORKLOG.MD
/app/target/
/core/bin/
/core/.cache/
/dist/
*.test

